name: CI/CD API REST

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    name: Integración Continua
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar pruebas
        run: npm test

  cd:
    name: Despliegue Continuo
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Login en DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build del contenedor
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mi-api:latest .

      - name: Push a DockerHub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/mi-api:latest
